 {% if settings.footer_display_newsletter %}
      <section class="newsletter">
        <fieldset class="block-title wow fadeIn" data-wow-delay="200ms">
          {% if settings.franchesca_footer_newsletter_title != blank %}
          <legend align="center" data-wow-delay="100ms">{{ settings.franchesca_footer_newsletter_title }}</legend>
          {% endif %}
        </fieldset>
        <span data-wow-delay="200ms">Sign up for our Newsletter</span>
        <div class="block-content wow fadeIn" data-wow-delay="400ms">
        {% include 'newsletter-form-franchesca' %}
        </div>
     </section>
 {% endif %}