jQuery(document).ready(function(){
var vw = 0;
var timervwo = setInterval(function(){
    jQuery('body').addClass('chescad');
var ur = window.location.href;
if(ur.includes('/collection') && !ur.includes('/product') || jQuery('body').hasClass('template-index')){
  var q = 0;
var timerq = setInterval(function(){
  if(jQuery('.quickview-button').length) {
	  var prod = jQuery('.products-grid .product-item');
  for(var i = 0; i < prod.length; i++){
    var lnk = prod.eq(i).find('a.product-grid-image').attr('href');
    prod.eq(i).find('.product-image').eq(0).after(jQuery('<div class="chesca-button-cont"><a href="'+lnk+'" class="chesca-learnMore">Learn More</a></div>'));
    jQuery('.chesca-button-cont').eq(i).append(jQuery('.quickview-button').eq(i));
    jQuery('.quickview-button a').eq(i).html('<img src="https://useruploads.visualwebsiteoptimizer.com/useruploads/499949/images/0226e479b4f14d06448adb559ad6b7a0_quickviewicon.png">');
  
  }
     clearInterval(timerq);
  }
  if(q > 400){
    clearInterval(timerq);
  }
q++;
}, 50);
  
var timers = setInterval(function(){
  if(jQuery('.quickview-button').length) {
	  var prod = jQuery('.products-grid .product-item');
  for(var i = 0; i < prod.length; i++){
    if(prod.eq(i).find('.chesca-button-cont').length == 0){
      
    var lnk = prod.eq(i).find('a.product-grid-image').attr('href');
    prod.eq(i).find('.product-image').eq(0).after(jQuery('<div class="chesca-button-cont"><a href="'+lnk+'" class="chesca-learnMore">Learn More</a></div>'));
    jQuery('.chesca-button-cont').eq(i).append(jQuery('.quickview-button').eq(i));
    jQuery('.quickview-button a').eq(i).html('<img src="https://useruploads.visualwebsiteoptimizer.com/useruploads/499949/images/0226e479b4f14d06448adb559ad6b7a0_quickviewicon.png">');
    }
  }
  }
}, 1000);
  
}
          
  
	
     clearInterval(timervwo);
  
if( vw > 200){
     clearInterval(timervwo);
}
vw++;
}, 50);
    });

jQuery(document).ready(function(){
  var ur = window.location.href;
if(ur.includes('/product')){
  
  if(jQuery('.chescadirect-button-cont').eq(0).length == 0){
    jQuery('#product-add-to-cart').before('<div class="chescadirect-button-cont"><div class="chescadirect-buyNow">BUY NOW</div></div>');
  jQuery('.chescadirect-button-cont').eq(0).prepend(jQuery('#product-add-to-cart'));
  
  jQuery('.chescadirect-buyNow').click(function(){
  checkout();
}); 
  }
  
  function checkout() {
  var timerb = setInterval(function(){
  if(jQuery('.shopify-payment-button__more-options').eq(0).length || b > 200) {
	 jQuery('.shopify-payment-button__more-options').eq(0).click();;
     clearInterval(timerb);
  }
b++;
}, 50);
} 
}
});
 
var ur = window.location.href;
if(ur.includes('/product')){
var cdont = 0;
var timercdont = setInterval(function(){
  if(jQuery('.chescadirect-button-cont').length) {
	 Element.prototype.appendAfter = function(element) {
    element.parentNode.insertBefore(this, element.nextSibling);
};
var imgSrcs = ['https://useruploads.visualwebsiteoptimizer.com/useruploads/536592/images/e24c0e258631cd7ec26acfc013171127_chescashippingcopy.png', 
               'https://useruploads.visualwebsiteoptimizer.com/useruploads/536592/images/0ca83b8da73f0247ea880ff848e39386_chescareturncopy.png', 
               'https://useruploads.visualwebsiteoptimizer.com/useruploads/536592/images/321409be7e3c1642622604afb8626dbd_chescasecurecopy.png'];
var badgeTexts = ["Ships Worldwide","14-Day Return Policy","Secure Payment Options"];
var container = document.createElement('div');
container.className = 'chesca-badges-outer-container';
var imgContainer = document.createElement('div');
imgContainer.innerHTML = '';
imgContainer.className = 'chesca-img-container';
if(document.getElementsByClassName('chesca-img-container').length == 0){
    var y = document.querySelectorAll('.chescadirect-button-cont')[0];
    
    container.appendAfter(y);
  container.appendChild(imgContainer);
  
}
    
    
for(var i = 0; i < imgSrcs.length; i++){
                    
    var img = document.createElement('div');
    img.innerHTML = '<div class="chesca-badge-container"><img src="' + imgSrcs[i] +  '"><span class="badge'+i+'">'+badgeTexts[i]+'</span></div>';
    imgContainer.appendChild(img);
    img.className = "chesca-badges-container";
           
    
} 
     clearInterval(timercdont);
  }
if( cdont > 200){
     clearInterval(timercdont);
}
cdont++;
}, 50);
    
  
}




var hh = 0; var timerhh = setInterval(function(){
  if(jQuery('.header .header-logo img').length) {
    jQuery('.header .header-logo img').addClass('chesca-logo');
jQuery('.header .header-logo img').eq(0).attr('src', 'https://cdn.shopify.com/s/files/1/0539/3612/8173/files/Chescadirect_logo1_719143d3-1182-4570-a783-12d390322298.png?v=1657022015')
clearInterval(timerhh);}if( hh > 200){clearInterval(timerhh);}hh++;}, 50);